backend/music-domain/effects-calculator-service/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EffectsService"
  targetNamespace="http://www.notary.com/effects"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.notary.com/effects"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://www.notary.com/effects">
      <xsd:element name="CalculateReverb">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="roomSize" type="xsd:string"/>
            <xsd:element name="distance" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="CalculateReverbResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="decayTime" type="xsd:float"/>
            <xsd:element name="wetLevel" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="CalculateReverbRequest">
    <part name="parameters" element="tns:CalculateReverb"/>
  </message>

  <message name="CalculateReverbResponse">
    <part name="parameters" element="tns:CalculateReverbResponse"/>
  </message>

  <portType name="EffectsServicePortType">
    <operation name="CalculateReverb">
      <input message="tns:CalculateReverbRequest"/>
      <output message="tns:CalculateReverbResponse"/>
    </operation>
  </portType>

  <binding name="EffectsServiceBinding" type="tns:EffectsServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CalculateReverb">
      <soap:operation soapAction="calculateReverb"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="EffectsService">
    <port name="EffectsServiceSoapPort" binding="tns:EffectsServiceBinding">
      <soap:address location="http://effects-calculator-service:3011/wsdl"/>
    </port>
  </service>
</definitions>
